<h2>Resend unlock instructions</h2>
<div class="container cen">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
<% if @user.errors.any? %>
  <div class="text-danger">
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="form-group" style="width: 50%;">
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
    <%= render "devise/shared/links" %>
  </p>
    <%= f.submit "Resend unlock instructions", :class => 'form-control' %>
  </div>
<% end %>
</div>
