<br>
<%= link_to 'Back', books_path, :class => 'btn btn-default' %>
<h1><i>"<%= @book.title %>"</i> <%= @book.author %>
<%= link_to 'Edit', edit_book_path(@book), :class => 'btn btn-info'  %>
<%= link_to 'Destroy', book_path(@book),
        method: :delete,
        data: { confirm: 'Do you realy want to delete "' + @book.title + '" ?' }, :class => 'btn btn-danger'  %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>
