<!DOCTYPE html>
<html>
  <head>
    <title>BookStorage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if ["new", "edit", "show"].include? action_name %>
    <style>
    .cont{
      height: auto;
    }
    .sc{
      overflow-y: hidden;
    }
    </style>
    <% end %>
  </head>

  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href='/'><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; BookStorage</a>

        <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to 'Library', books_path %></li>
                </ul>
                <div class="pull-right">
                <% if user_signed_in? %>
                <ul class="navbar-text">
                    <i class="fa fa-user fa-fw"></i> <strong><%= current_user.email %></strong>
                </ul>
                <ul class="nav navbar-nav">
                    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav navbar-link' %></li>
                </ul>
               <ul class="nav navbar-nav">
                   <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav navbar-link'  %></li>
               </ul>
                <% else %>
                <ul class="nav navbar-nav">
                    <li><%= link_to "Sign up", new_user_registration_path, :class => 'nav navbar-link'  %></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><%= link_to "Login", new_user_session_path, :class => 'nav navbar-link'  %></li>
                </ul>
                <% end %>
              </div>
        </div>

  </div>
  <div class="container modal-content" style="background:rgba(255,255,255, 0.6);">
    <div class="cont">
      <br>
      <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
     </div>
  </div>
  </body>
</html>
