<!DOCTYPE html>
<html>
  <head>
    <title>BookStorage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar navbar-inverse navbar-fixed-top">
        <%= link_to "BookStorage", { :controller => 'welcome'}, :class => 'navbar-brand'%>
        <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to 'Library', { :controller => 'books'} %></li>
                </ul>
        </div>

  </div>
  <div class="container modal-content">
       <%= yield %>
  </div>
  </body>
</html>
